body{
    padding: 0;
    margin:0;
}

#header{
    background-color: #c0c0c0;
    font-size:#212121;
    text-align:center;
    padding:20px 0;
    font-weight:bold;
}
#content{
    clear:both;
    overflow: auto;
}
#nav{
    
    float:left;
    width:20%;
    height: 500px;
    background-color: red;
}
#nav li {
    list-style: none;
}
#page_content{
    border:red solid 1px;
    float:left;
    width:74%;
    height:500px;
}
#footer{
    padding:40px;
    color:red;
    background-color: #c0c0c0;
}